@font-face {
    font-family: 'Orkney-b';
    src: url('../GreenHarbor/fonts/Orkney-Bold.otf')
    format(opentype);
}@font-face {
    font-family: 'Orkney-r';
    src: url('../GreenHarbor/fonts/Orkney-Regular.otf')
    format(opentype);
}@font-face {
    font-family: 'Orkney-m';
    src: url('../GreenHarbor/fonts/Orkney-Medium.otf')
    format(opentype);
}@font-face {
    font-family: 'Orkney-l';
    src: url('../GreenHarbor/fonts/Orkney-Light.otf')
    format(opentype);
}

:root{
    --fonte-light: 'Orkney-l';
    --fonte-regular: 'Orkney-r';
    --fonte-bold: 'Orkney-b';
    --fonte-medium: 'Orkney-m';  
}

html{
    scroll-behavior: 100%;
}body{
    font-family: var(--fonte-regular);
}.tit{
    font-family: var(--fonte-bold);
}.titl{
    font-family: var(--fonte-light);
}.sub{
    font-family: var(--fonte-bold);
}header{
    background-image: url("./img/pexels-lauri-poldre-16317925.jpg");
    background-position: left center;
    height: 200px;
}